<!DOCTYPE html>
<html lang="es">
<%= require('html-loader!./includes/header.html') %>
<body>
<%= require('html-loader!./includes/main-slider.html') %>

<section class="container articles-container">
    <div class="row masonry-grid">
        <div class="col-md-6 col-lg-4 masonry-column px-4" id="card-column-1"></div>
        <div class="col-md-6 col-lg-4 masonry-column px-4" id="card-column-2"></div>
        <div class="col-md-6 col-lg-4 masonry-column px-4" id="card-column-3"></div>
    </div>
</section>

<section class="container go-up">
    <a href="#" class="up" id="go-up">
        <span class="ion ion-arrow-up-c scroll-up"></span>
        <span class="text">Subir</span>
    </a>
</section>


<%= require('html-loader!./includes/footer.html') %>
</body>
</html>
