// Estilos de tags principales
html {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: .5rem solid $accent-color;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font-family;
    font-weight: 300;
    color: $font-color2;   
    background-color: $light-color !important;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  a {
    color: $accent-color;
  }