// Estilos de tags principales
* {
    font-family: $font-family;
}

html {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    border: .5rem solid $accent-color;
  }
  
  body {
    width: 100vw;
    color: $font-color;   
    background-color: $light-color !important;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  a {
    color: $accent-color;
  }