html {
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: .4rem solid $accent-color;
    @include media-breakpoint-up(md) {
      border: .5rem solid $accent-color;  
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font-family;
    font-weight: 300;
    color: $font-color2;   
    background-color: $light-color !important;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: $font-color;
    font-weight: 700;
    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
  
  a {
    color: $accent-color;
    &:hover {
      text-decoration: none;
      color: $font-color2;
    }
  }

  p {
    line-height: 1.6rem;
  }

  blockquote {
    line-height: 1.4rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 600;
    font-style: italic;
    position: relative;
    &:before {
      content: '\f347';
      font-family: 'Ionicons';
      font-size: 1.2rem;
      color: $font-color2;
      position: absolute;
      left: 0;
      top: 0.8rem;
      font-style: normal;
      transform: rotateX(180deg);
    }
    &:hover {
      border-top-color: $accent-color;
      border-bottom-color: $accent-color;      
      &:before {
        color: $accent-color;
      }
    }
  }