// Paths
$images-path: '../assets/img/';

// Font families
$font-family: 'Poppins', sans-serif;
$logo-font-family: 'Audiowide', sans-serif;

// Colors
$font-color: #0e0e0e;
$accent-color: #004f86;
$light-color: #eee;

// Element colors
$arrows-color: $accent-color;