@import "~bootstrap/scss/bootstrap";
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Audiowide|Poppins');
@import "variables";
@import "html-tags";
@import "header";
@import "footer";
@import "body-articles";